nav {
	text-align: center;
	background-color: lightblue;
	padding: 20px 0;
}
nav ul li {
	display: inline-block;
	background-color: white;
	padding: 10px 15px;
	margin: 5px 10px;
	transition: 0.5s ease;
}
nav ul li a {
	transition: 0.5s ease;
}
nav ul li:hover {
	transform: scale(1.2);
	background-color: tomato;
	border: 2px solid #FFF;
}
nav ul li:hover a {
	color: #FFF;
	text-decoration: none;
}
button {
	background-color: red;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 15px 25px;
	margin: 5px;
	transition: 0.25s ease;
}
button:hover {
	background-color: grey;
	color: blue;
}
div#buttons {
	text-align: center;
	padding: 50px 0;
}
